certifi==2025.1.31
charset-normalizer==3.4.1
configobj==5.0.9
coverage==7.7.1
dpath==2.2.0
idna==3.10
parse-it==2025.3.1.21.46
pyhcl==0.4.5
pyTelegramBotAPI==4.26.0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
requests-mock==1.12.1
six==1.17.0
toml==0.10.2
urllib3==2.3.0
xmltodict==0.14.2
