certifi==2024.6.2
charset-normalizer==3.3.2
configobj==5.0.8
coverage==7.5.4
dpath==2.2.0
idna==3.7
parse-it==2024.6.16.10.40
pyhcl==0.4.5
pyTelegramBotAPI==4.19.2
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.32.3
requests-mock==1.12.1
six==1.16.0
toml==0.10.2
urllib3==2.2.2
xmltodict==0.13.0
