certifi==2023.7.22
charset-normalizer==3.3.0
configobj==5.0.8
coverage==7.3.2
dpath==2.1.6
idna==3.4
parse-it==2023.10.5.16.31
pyhcl==0.4.5
pyTelegramBotAPI==4.14.0
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
toml==0.10.2
urllib3==2.0.6
xmltodict==0.13.0
